@property --value {
  syntax: "percentage";
  inherits: true;
  initial-value: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Inter",sans-serif;
}
*{
    user-select: none;
}
.ext-megabonus-main-content{
    display: none;
}
.canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.base-info{
    pointer-events: none;
    position: absolute;
    display: grid;
    right: 0;
    bottom: 0;
    grid-auto-rows: max-content;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    gap: 10px;
}
:root{
    --grass:#7dcb6f;
    --player:#ecbb83;
    --wall:#a84604;
    --turret:#4b4a4a;
    --turretGun:#9c5729;
    --slot:#494949a2;
    --slotSelect:#818181a2;
    --slotBorder:#7e7e7e;
}
.info{
    --value:100%;
    padding: 10px;
    width: var(--value);
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    min-width: 0;
}
.btn{
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    z-index: 10;
    border-radius: 5px;
    position: absolute;
    background: white;
    color: black;
    transition: .2s filter;
}
.btn:hover{
    transition: .2s filter;
    filter: brightness(.5);
}
.hp{
    background: rgb(55, 250, 55);
    --value:1%;
}
.hp::before{
    content: "";

}
.water{
    background: rgb(90, 90, 223);
}
.eat{
    background: #ffb24d;
}
.invisible{
    display: none;
}
.quick-slots{
    position: absolute;
    bottom: 0px;
    display: grid;
    gap: 20px;
    left: 50%;
    padding: 20px;
    z-index: 10;
    box-sizing: border-box;
    transform: translateX(-50%);
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    grid-auto-rows: max-content;
}
.slot{
    width: 50px;
    height: 50px;
    max-width: 50px;
    max-height: 50px;
    padding: 5px;
    background:var(--slot);
    border: 2px solid var(--slotBorder);
}
.selected{
    background: var(--slotSelect);
}
.item-slot{
    width: 100%;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
}