body{
    margin: 0;
    padding: 0;
}
.ext-megabonus-main-content{
    display: none;
}
.canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}

:root{
    --grass:#7dcb6f;
    --player:#ecbb83;
}